body {
  background-color: whitesmoke;
  color: white;
  margin: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.conteiner {
  box-shadow: 0 0 30px gray;
  width: 960px;
  background-color: black;
  margin: auto;
  padding: 20px 45px;
}

section {
  padding-bottom: 40px;
}

#hobbies,
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  font-size: 36px;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 13px;
  border-radius: 50px;
}

header ul {
  list-style: none;
  line-height: 35px;
}

header address {
  margin-left: -35px;
}

.hb img {
  margin: 10px;
}

header img {
  margin: 30px;
  width: 160px;
  height: 170px;
  border-radius: 50%;
}

#title {
  color: rgb(0, 229, 255);
  margin-bottom: 25px;
}

#name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
