:root {
  --color-text: gray;
  --color-cv: #030f29;
  --color-title: hwb(200 0% 0%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: radial-gradient(hsl(215, 95%, 16%), hsl(238, 96%, 71%));
}

body {
  background: radial-gradient(hsl(215, 95%, 16%), hsl(238, 96%, 71%));
  color: var(--color-text);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.conteiner {
  box-shadow: 0 0 30px black;
  width: 960px;
  background-color: var(--color-cv);
  margin: 40px auto;
  padding: 20px 45px;
}

section {
  padding: 25px 0;
  line-height: 25px;
}

#hobbies,
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  font-size: 36px;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hb img {
  padding: 10px;
}

.hb {
  padding: 20px;
}
button {
  padding: 13px;
  border-radius: 50px;
  background-color: var(--color-text);
}

header ul {
  list-style: none;
  line-height: 35px;
  padding: 25px 0;
}

header img {
  margin: 30px;
  width: 160px;
  height: 170px;
  border-radius: 50%;
}

#title {
  color: var(--color-title);
  padding: 30px;
}

#name {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
}

main ul {
  padding: 10px 20px;
}

@keyframes fall {
  from {
    top: 0%;
  }
  to {
    top: 150%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes leftToRight {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

#snow-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0%;
}

.flake-container {
  position: absolute;
  padding: 0 50px;
  top: 0%;
  animation: fall 20s 0s 1 linear forwards;
}

.flake-container img {
  width: 30px;
  position: absolute;
  animation: rotate 6s 0s infinite linear forwards,
    leftToRight 2s 0s infinite ease-in-out alternate;
}

/* phone */
@media screen and (max-width: 767px) {
  body {
    max-height: 800px;
    width: 767px;
  }
}

/*tablet*/
/* @media screen and (min-width: 768px) and (max-width: 1199px) {
  #snow-container {
    width: 100%;
    height: 185%;
  }
} */
