body {
  background-color: whitesmoke;
  color: white;
  margin: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

main{
  margin: 45px;
}
.conteiner {
  box-shadow: 0 0 30px gray;
  width: 960px;
  background-color: black;
  margin: auto;
}



header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

h1 {
  font-size: 36px;
}

button {
  padding: 13px;
  border-radius: 50px;
}

img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

#title {
  color: rgb(0, 229, 255);
  margin-bottom: 25px;
}

#main-info {
  line-height: 35px;
}

#name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hobbies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hb {
  margin: 10px;
}
